body {
	width: 800px;
	margin: auto;
	/* background: #9EE1F7; */
	background-image: url("pics/17_stierlitz.jpg");
	background-size: 100%;
	opacity: 0.3;
}

#isaev {
	text-align: right;
	width: 150px;
	height: 150px;

}

.text-area {
	display: inline-block;
}

.text-result {
	color: blue;
	opacity: 1;
}