body {
	width: 800px;
	margin: auto;
	background-image: url("pics/17_stierlitz.jpg");
	background-size: 100%;

}

/* body::after {
	content: '';
	opacity: 0.3;
	position: absolute;
	z-index: -1;
} */

.text-area {
	display: inline-block;
	background: rgba(0,0,0,0);
	font: 18px Arial, sans-serif;
	opacity: .4;
}

#isaev {
	text-align: right;
	width: 150px;
	height: 150px;

}

#text-result {
	color: black;
	background: rgba(0,0,0,0);	
}