body {
	width: 800px;
	margin: auto;
	/* background: #9EE1F7; */
	background-image: url("pics/17_stierlitz.jpg");
	background-size: 100%;
}

#isaev {
	text-align: center;
}

.text-area {
	display: inline-block;
}